<div class="container">
<span>
	<a href="<%= category_path %>">Noticias</a>
	/
	<a href="/categories/<%= @post.category.id %>"><%= @post.category.name %></a>
</span>
<div class="row">
	<div class="col-sm-12 col-md-8">
		<div>

			<legend class="text-center">
				<h1><%= @post.title %></h1>
			</legend>

			<div class="text-center">
				<small>
					<strong>Creado el:
						<%= @post.created_at.strftime("%d-%m-%Y")%>
						por
						<%= @post.user.name %></strong>
				</small>
			</div>

			<div class="row my-3 text-center">


					<% if user_signed_in? && current_user.role == 'admin' %>
						<!-- if  admin -->
						<div class="col-4">
							<% @post.tags.each do |tag| %>
								<a href="<%= remove_tag_post_path(@post, tag) %>" "data-method="delete">
									<span class="badge badge-pill badge-light">/ # <%= tag.name %> <strong>X</strong></span>
								</a>
							<% end %>
						</div>

						<div class="col-4">
							<%= form_tag(add_tag_post_path(@post)) do %>
							<div class="form-group row">
								<%= label_tag :name, 'Agregar Tag:', class: 'col-form-label' %>
								<%= text_field_tag "name", "", class: 'form-control'  %>
								</div>
							<% end %>
						</div>

						<div class="col-4">
								<%= link_to 'Editar Post', edit_post_path(@post), class:'btn btn-sm btn-danger' %>
								<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-primary' %>
						</div>

					<% else %>
						<!-- if not admin -->
						<div class="text-center">
							<% @post.tags.each do |tag| %>
									<span class="badge badge-pill badge-light"> # <%= tag.name %></span>
							<% end %>
						</div>
					<% end %>




			</div>

		<div class="jumbotron">
			<figure class="text-center mb-5">
				<%= image_tag @post.photo.postimg, class:'img-fluid' %>
			</figure>
			<div class="container bg-light  p-5">
					<%= @post.description.html_safe %>
			</div>


		</div>

	</div>

		<div class="jumbotron p-3 row">
			<% if user_signed_in? %>
			<div class="col-md-12">
				<div class="card card-body bg-light">
					<legend>Comentar:</legend>
					<%= form_with(model: [@post, Comment.new], local: true, html: { class: 'form-horizontal' }) do |f| %>
						<div class="form-group">
							<div class="col-md-12">
								<%= f.text_area :content, placeholder: 'Escribe tu comentario aquí...', class: 'form-control' %>
							</div>
						</div>
					<%= f.submit 'Comentar', class: 'btn btn-primary container px-5' %>
					<% end %>
				</div>
			</br>
			</div>
			<% end %>

			<div class="col-md-12">
				<% @comments.each do |comment| %>
					<div class="card mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-9">
									<p class="card-text">
										<strong><%= comment.user.name %>:</strong>
										<%= comment.content %></p>
								</div>
								<% if can? :destroy, comment %>
									<div class="col-3">
										<%= link_to 'X Eliminar', post_comment_path(@post,comment), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el Comentario?' }, class: 'btn btn-sm btn-danger' %>
									</div>
								<% end %>
							</div>
						</div>
						<div class="card-footer text-muted">
							<small><%=time_ago_in_words(comment.updated_at) %></small>
						</div>
					</div>
				<% end %>
				<div id="paginator">
					<%= paginate @comments %>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-4">
		<%= render 'sidebar' %>
	</div>
</div>





</div>
