<!DOCTYPE html>
<html>
  <head>
    <title>FechkenR5</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- fontawesome -->
   <script src="https://kit.fontawesome.com/d326812f47.js" crossorigin="anonymous"></script>

   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= alertify_flash(wait: 10) %>

    <div class="mt-5 pt-4">
      <%= yield %>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
